<div id = 'login'>
  <div class='login-wrapper' >
    <div class="flex column userWrapper" >
      <form class="" action="/authorized" method="post">
        <div class = "generic-form">
          <p class =>email</p>
          <input name="email" class="big-form-item" type="text" placeholder="email" value="n@n.nn" />

          <p class =>password</p>
          <input name="password" class="big-form-item" type="password" value="1234!@#$qwer" />
          <p class="formErrorReport">{{dbError}}</p>
        </div>

        <button class="button dark-button" type="submit"> log in </button>
        
      </form>
    </div>
  </div>
</div>
<script>
  a.login()
</script>


